{% extends "components/base.html" %}

{% block title %}Parkify - Error {{error_code }} 😭{% endblock %}

{% block content %}

{% include 'components/alerts.html' %}

<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home.index') }}">
      <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo" width="30" height="30"
        class="d-inline-block align-text-top me-2" />Parkify
    </a>
  </div>
</nav>

<div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center p-3 text-center">
  <h1 class="display-4 display-lg-3 fw-bold mb-3">Error {{ error_code }}</h1>
  <p class="lead fs-3">{{ error_message }} 😭</p>
</div>

{% endblock %}